@font-face {
  font-family: 'icomoon';
  src:  url('./styles/fonts/icons/icomoon.eot?vhkhun');
  src:  url('./styles/fonts/icons/icomoon.eot?vhkhun#iefix') format('embedded-opentype'),
    url('./styles/fonts/icons/icomoon.ttf?vhkhun') format('truetype'),
    url('./styles/fonts/icons/icomoon.woff?vhkhun') format('woff'),
    url('./styles/fonts/icons/icomoon.svg?vhkhun#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-filters:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-upload:before {
  content: "\e903";
}
.icon-table-delete:before {
  content: "\e904";
}
.icon-table-calendar:before {
  content: "\e905";
}
.icon-table-sort:before {
  content: "\e906";
}
.icon-table-filters:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-warning:before {
  content: "\e909";
}
.icon-attachments:before {
  content: "\e90a";
}
.icon-editing-load:before {
  content: "\e90b";
}
.icon-stop-arrow:before {
  content: "\e90c";
}
.icon-times:before {
  content: "\e90d";
}
